<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="8099"/>
		<add key ="NumberOfQueues" value="2"/>
		<add key ="MillisecondsPerCrawl" value="1000"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="UrlQueueConnection" connectionString="server=		192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="HtmlQueueConnection" connectionString="server=		192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="MonitorConnection" connectionString="server=			192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="ClassificationConnection" connectionString="server=	192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="ExtractionConnection" connectionString="server=		192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="ContentConnection" connectionString="server=			192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="AffiliateConnection" connectionString="server=		192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="EmailConnection" connectionString="server=			192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="UserConnection" connectionString="server=			192.168.1.225;database=GazaroDom;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
		<add name="HtmlBackupConnection" connectionString="server=		192.168.1.225;database=GazaroHtmlBackup;uid=root;pwd=1q2w3e4r!;charset=utf8"/>
	</connectionStrings>
</configuration>
